*{
    padding: 0;
    margin: 0;
}

.logo {
    height: 100px;
}

.botones {
    padding-top: 10px;
    padding-right: 20px;
}

.iniciar {
    margin: 2px;
    width: 115px;
    background-color: #253C59;
}

.registro {
    margin: 2px;
    background-color: #BF8D30;
    width: 115px;
}

.texto-nav {
    color: black;
    margin-left: 30px;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.caja-navbar{
    width: 80%;
    
}

.nav-lista{
    display: flex;
    justify-content: space-evenly;
    background-color: #99B4BF
}

.footer-center{
    color: rgb(54, 37, 70);
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    background-color: #99B4BF
}

.footer-left{
    
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    display: flex;
    background-color: #99B4BF
}

.footer-right{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    background-color: #99B4BF
}


